---
---

@import "{{ site.theme }}";

header h1,
footer,
header .view
{ 
  display: none !important; 
}

.button {
    border: 2px solid #267CB9;
    border-radius: 5px;
    font-weight: bold;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #267CB9;
    color: white;
}

kbd {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid black;
}

body {
    padding:0 !important;
}

section {
    padding-bottom: 0 !important;
}
